    <div class="row">
        <div class="panel panel-default widget">
            
            <div class="panel-heading">
            <a href='#joyent' class="btn btn-primary">
                <span class="glyphicon glyphicon-circle-arrow-left"></span> back to repos
            </a>
            </div>
            <div class="panel-body">
                <ul id="commits" class="list-group">

                <% _.each(model, function(c, i) { %>
                    <li data-content='<%= c.sha %>' class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="http://www.gravatar.com/avatar/<%= c.gravatar_id %>" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                        <%= c.message %>
                                    <div class="mic-info">
                                        By: <a href="#"><%= c.name %></a> on <%= c.formatDate %>
                                    </div>
                                    <div class="mic-info">
                                    Fib:<%= c.fib %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
<% }); %>
                </ul>

            </div>
        </div>
    </div>

