doctype html
html
    head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title GitHub client
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='main.css')
body
    div#applicationHost
    script(src="app/requireConfig.js")
    script(src="libs/requirejs/require.js", data-main="app/main")